.container{
    margin: 0 auto;
    padding: 5px 10px;
    width: 100%;
    max-width: 1100px;
    color: white;
}
.createproject-wrap{

}
.project-title{
    color: rgba(255, 255, 255, 0.84);
    font-size: 25px;
}
.projects-fields{
    margin: 0 auto;
    max-width: 300px;
}
.fields-passport{
    margin-top: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.fields-budget{
    margin-top: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.fields-cost{
    margin-top: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.fields-user{
    gap: 10px;
    display: flex;
    flex-direction: column;
}